

@switch (chartType) { @case ("bar") {
<canvas
  baseChart
  [data]="barChartData"
  [options]="barChartOptions"
  [type]="chartType"
>
</canvas>
} @case ("pie") {
<canvas
  baseChart
  [type]="chartType"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend"
>
</canvas>
} @case ("line") {
<canvas
  baseChart
  [type]="chartType"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [legend]="lineChartLegend"
>
</canvas>
} @default {
<p>Type is Invalid or dosenot Exist</p>
} }
