<div ngbDropdown container="body">
    <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Options</button>
    <div ngbDropdownMenu>
        @for (item of options; track item) {
            @if( $index+1 === options.length ) {
                <div class="dropdown-divider"></div>
            }
            <button class="text-capitalize" (click)="sendAction(item)" ngbDropdownItem>
                <fa-icon [icon]="getIcon(item)" />
                {{ item }}
            </button>
        }
    </div>
</div>