<main class="bg-body shadow-md shadow-sm py-4 px-2 p-md-3 p-lg-6 rounded" >
  

<div class="d-flex flex-wrap justify-content-between mb-4">

  <h3>Liste d'Utilisateurs</h3>

  <div class="btn-group">

    <button class="btn">
      <fa-icon class="fa-md fa-md-xl" [icon]="faPDF" />
      PDF
    </button> 
    <button class="btn">
      <fa-icon class="fa-md fa-md-xl" [icon]="faCSV" />
      CSV
    </button>

  </div>
</div>


@defer () {
  <app-tables 
  [list]="utilisateurs$" 
  caption="{{title}}"
  [headings]="headings"
  />

} @placeholder { 
  <h5>Un instant svp ..... </h5>
}


</main>
