

<!-- <app-navbar (toggleSidebar)="open(content)" />

<div class="container-fluid page"> -->
  <!-- sidebar starts here -->
<!-- 
  <div class="dashboard-sidebar bg-body-tertiary overflow-x-hidden">
    <ng-template #content let-offcanvas>
      <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvas-basic-title">
          Profile update
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="offcanvas.dismiss('Cross click')"
        ></button>
      </div>
      <div class="offcanvas-body overflow-x-hidden">
        <app-sidebarcontent />
      </div>
    </ng-template>
    <app-sidebarcontent />
  </div> -->

  <!-- main content starts here -->

  <!-- <main class="dashboard-content d-flex flex-column gap-2 gap-lg-3">

    <app-breadcrumb />



    <app-footer />
  </main>
</div> -->



<router-outlet />