
<section class="row justify-content-evenly align-items-center container bg-body shadow-sm rounded-2 mb-4">

    <div class="col-lg-4 d-flex gap-3 align-items-start p-4">
        <fa-icon class="display-6 text-warning" [icon]="faDays" />
        <div>
          <h4 class="fw-bold mb-0 text-capitalize fs-4">
            Ce Mois:
          </h4>
          <p>
            {{thisMonth().monthEvents.length}} evenement(s)
          </p>
        </div>
    </div>

    <div class="col-lg-4 d-flex gap-3 align-items-start p-4">
        <fa-icon class="display-6 text-danger" [icon]="faWeek" />
        <div>
          <h4 class="fw-bold mb-0 text-capitalize fs-4">
            Cette Semaine:
          </h4>
          <p>
            {{thisMonth().weekEvents.length}} evenement(s)
          </p>
        </div>
    </div>

    <div class="col-lg-2">
        <button (click)="newEvent()" class="btn btn-outline-secondary my-3">
            <fa-icon class="mx-2 fs-4" [icon]="faDay" /> 
            Ajouter 
        </button>
    </div>

</section>


<section class="row p-2 container bg-body p-lg-3 shadow-sm rounded-2">

    <aside class=" col-lg-4">

        <header class="bg-info text-white d-flex text-capitalize justify-content-between  align-items-center ">
            <button class="btn fs-3" (click)="prevMonth()" > &laquo; </button>
            <h5>
                📅 {{ normalMonths[currentMonth()] }} {{ currentYear() }}
            </h5>
            <button class="btn fs-3" (click)="nextMonth()" > &raquo; </button>
        </header>

        <table class="table">

            <thead>
                <tr class="bg-body-info bg-light">
                @for ( day of normalDays; track $index  ) {
                    <th style="height: 48px;" class="text-center text-capitalize">{{day}}</th>
                }
                </tr>
            </thead>

            <tbody>
                @for ( day of daysInMonth() ; track $index  ) {
                    @if( $index % 7 === 0  ) {
                        <tr> 
                    }
                    <td style="height: 48px;" [class]="day === today().getDate() ? 'bg-info text-white rounded-3' : '' " (click)="changeDay(day)" class="calendar-cell relative"> 
                        {{ day !== 0 ? day : '' }}
                    </td>
                }
            </tbody>
        </table>

       
    </aside>

    <aside class="col-lg-7 ">

        <h5 class="text-capitalize p-4 w-100">
            <fa-icon [icon]="faDay" />
            Aujourd'hui:
            {{ normalDays[today().getDay()] }}, 
            {{ today().getDate() }} 
            {{ normalMonths[currentMonth()] }} 
        </h5>

        <hr />

        <ul class="list-unstyled p-1 p-lg-2">
            @for( event of thisMonth().dayEvents ; track $index ) { 
                <li class="border-bottom p-2 rounded row ">
                    <div class="col-5">
                        <b>{{ event.startDay }} :</b>
                        <p class="text-danger">{{ event.description }}</p>
                    </div>
                    <p class="col-6">{{event.place}} Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, officia neque ipsum officiis aspernatur inventore libero, minus placeat ipsam optio, expedita consequuntur illum necessitatibus cumque nisi. Atque veniam laudantium aliquam.</p>
                </li>
            }
        </ul>
    </aside>

</section>