header {
    min-height: 10vh;
    max-height: 450px;
}

.mine {
    width: 100%;
    min-height: calc(50px * 8);
    width: 100%;
}

.calendar-cell {
    vertical-align: middle;
    text-align: center;
}

td.calendar-cell:hover {
    cursor: pointer;
    border-color: orange;
}