header {
    min-height: 10vh;
    max-height: 450px;
}

.mine {
    width: 100%;
    min-height: calc(80px * 8);
}

.mine td, .mine th {
    min-height: 80px;
    min-width: 80px;
}

.calendar-cell:hover, .day {
    background-color: #ffc0cb54;
    cursor: pointer;
}