


<section class="row p-2">
    <div class=" col col-lg-4">

        <header class="nav text-capitalize justify-content-between bg-info text-white align-items-center ">
            <button class="btn nav-item fs-1 text-white" (click)="prevMonth()" > &laquo; </button>
            <h3>
                <span class="nav-brand">📅</span>
                {{ normalMonths[currentMonth()] }} {{ currentYear() }}
            </h3>
            <button class="btn nav-item fs-1 text-white" (click)="nextMonth()" > &raquo; </button>
        </header>

        <table class="mine table border-collapse">

            <thead>
                <tr class="bg-body-info bg-light border">
                @for ( day of normalDays; track $index  ) {
                    <th style="height: 72px;" class="text-center text-capitalize">{{day}}</th>
                }
                </tr>
            </thead>

            <tbody>
                @for ( day of daysInMonth() ; track $index  ) {
                    @if( $index % 7 === 0  ) {
                        <tr> 
                    }
                    <td [class]="day === today().getDate() ? 'bg-info text-white' : '' " (click)="changeDay(day)" class="calendar-cell border relative"> 
                        {{ day !== 0 ? day : '' }}
                    </td>
                }
            </tbody>
        </table>
    </div>

    <div class="col border p-4">
        <h4 class="text-capitalize my-4">
            Aujourd'hui: {{ normalDays[today().getDay()] }}, 
            {{ today().getDay()}} 
            {{ normalMonths[currentMonth()] }} 
        </h4>

        <ul>
            @for( event of thisMonth().dayEvents ; track $index ) { 
                <li>
                    {{ event.startDay }} {{ event.description }}
                    <p>{{event.place}}</p>
                </li>
            }
        </ul>

    </div>

</section>



<h4 class="text-capitalize my-4">
    Ce mois {{ normalDays[today().getMonth()] }} :
</h4>

<ul class="border-l-2">
    @for( event of thisMonth().monthEvents ; track $index ) { 
        
        <li>
            {{ event.startDay }} {{ event.description }}
            <p>{{event.place}}</p>
        </li>
    }
</ul>

<!-- <h5>Les événements de ce Mois  ({{thisWeekEvents().length}}) </h5> -->
<!-- @for (item of thisWeekEvents(); track $index) {

    <div class="d-flex gap-4 border border-info my-3 p-2">
       <div class="d-flex flex-column">
        <p>{{ item.startDay }}</p>
        <p> {{item.endDay }}</p>
       </div>

       <div>
        <p>{{ item.description }}</p>
        <small>{{ item.place }}</small>
       </div>
    </div>
} -->