
.pages {
    height: calc(100vh-60px);
}

.dashboard-sidebar {
    min-height: 100vh;
    position: sticky;
    top: 0px;
    width: 0;
}

.dashboard-content {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .dashboard-sidebar {
        width: 92px;
    }
}

@media screen and (min-width: 992px) {
    .dashboard-sidebar {
        width: 240px;
    }
}

@media screen and (min-width: 1080px) {
    .dashboard-sidebar {
        width: 270px;
    }
}

@media screen and (min-width: 1280px) {
    .dashboard-sidebar {
        min-width: 270px;
        max-width: 35%;
    }

    .dashboard-content {
        min-width: 1080px;
        min-height: 100vh;
    }
}

