
<div class="container error-container">
    <h1 class="display-4">Oops! Something went wrong.</h1>
    <p class="lead">We're sorry, but an error has occurred on our end.</p>
    
    <h2>Possible Types of Errors:</h2>
    <ul class="list-group">
        <li class="list-group-item list-group-item-danger">404 - Not Found: The requested resource could not be found.</li>
        <li class="list-group-item list-group-item-danger">500 - Internal Server Error: Something went wrong on our server.</li>
        <li class="list-group-item list-group-item-danger">403 - Forbidden: You do not have permission to access this resource.</li>
        <li class="list-group-item list-group-item-danger">400 - Bad Request: The request could not be understood by the server.</li>
        <li class="list-group-item list-group-item-danger">408 - Request Timeout: The server timed out waiting for the request.</li>
    </ul>
    
    <p class="mt-4">Please try again later or contact support if the issue persists.</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</div>
