<!-- <app-calendar /> -->

<app-calendar (addEvent)="toggleAddEvent()" />


<!-- Modal -->
@if( addEvent ) {<section class="my-modal">
  
  <form class="container rounded-2 p-3 p-md-4 bg-body">

    <h4>Ajouter un Evenement</h4>

    <section class="row">

      <div class="mb-3 col">
        <label for="jour" class="form-label">Commence Quand</label>
        <input type="datetime-local" class="form-control" id="jour" defaultValue={{now}} aria-describedby="date" required />
      </div>
  
      <div class="mb-3 col">
        <label for="jour" class="form-label">Finit Quand</label>
        <input type="datetime-local" class="form-control" id="jour" defaultValue={{now}} aria-describedby="date" required />
      </div>

    </section>

    <div class="mb-3">
      <label for="place" class="form-label">Emplacement</label>
      <input type="text" class="form-control" id="emplacement" aria-describedby="date" required />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description Breve</label>
      <textarea class="form-control" id="description" rows="3" required></textarea>
    </div>


    @if( error.length > 3 ) {
    <div class="alert alert-danger d-flex align-items-start" role="alert">
      <fa-icon class="me-2" [icon]="faWarn" />
      <p>{{error}}</p>
    </div>
    }

    <div class="d-flex justify-content-between align-items-center">

      <button type="submit" class="btn btn-primary"> 
        + Ajouter 
      </button>

      <p (click)="toggleAddEvent()" type="reset" class="btn btn-danger">
         X Annuler 
      </p>

    </div>

  </form>

</section>
}